{% extends 'app_reservas/base.html' %}
{% load static%}
{% block navbar %}
{% endblock %}
{% block title %}
    Recuperar contraseña
{% endblock title %}
{% block contenido %}

{% if validlink %}

<div class="page-header">
    <h1>Recuperar contraseña</h1>
</div>

<form method="post">
{% csrf_token %}
    <div class="row">
        {% include 'commons/error_header.html' %}
    </div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="form-group">
        <label for="username">Confirme contraseña:</label>
        <input id="id_new_password1" class="form-control" name="new_password1" type="password" />
     </div>
    </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="form-group">
        <label for="username">Confirme contraseña:</label>
        <input id="id_new_password2" class="form-control" name="new_password2" type="password" />
     </div>
    </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Cambiar mi contraseña">
     </div>
    </div>
</div>

</form>

{% else %}

<div class="page-header">
  <i class="fa fa-times fa-5x" aria-hidden="true"></i>
    <h1>Algo salió mal</h1>
</div>

<p class="text-center">
    Este enlace ya ha sido utilizado o no es valido.
</p>

{% endif %}

{% endblock %}
