{% extends 'app_reservas/base.html' %}
{% load static %}

{% block title %}
    Recuperar contraseña
{% endblock title %}
{% block navbar %} {% endblock %}
{% block contenido %}
        <div class="page-header">
          <i class="fa fa-check fa-5x" aria-hidden="true"></i>
            <h1>Te hemos enviado un correo con un enlace para reestablecer tu contraseña</h1>
        </div>

        <p class="text-center">
            Gracias, para continuar con el proceso de restablecer la contraseña comprueba la bandeja de tu correo.
        </p>
{% endblock %}
