{% extends 'app_reservas/base.html' %}
{% load static %}

{% block static_js %}
{% endblock %}

{% block title %}
Mi Perfil
{% endblock %}

{% block contenido %}

<div class="col-md-6 col-md-offset-3">
  <form method="post" enctype="multipart/form-data">
  	{% csrf_token %}
    <div class="row">
      {% if form.errors %}
         {% for field in form %}
             {% for error in field.errors %}
                 <div class="alert alert-danger">
                     <strong> {{field.label_tag}} {{ error|escape }}</strong>
                 </div>
             {% endfor %}
         {% endfor %}
         {% for error in form.non_field_errors %}
             <div class="alert alert-danger">
                 <strong>{{ error|escape }}</strong>
             </div>
         {% endfor %}
     {% endif %}
    </div>
    <div class="page-header">
        <h1>Editar perfil</h1>
    </div>


          <div class="row">

            <div class="col-md-12 col-md-offset-0">
                <div class="text-center">
                    <h4>Solo los datos listados a continuación pueden ser editados</h4>
                </div>
            </div>
          </div>
        <div class="row">
          <div class="col-md-6 col-md-offset-0">
                <div class="form-group">
                    <label for="username">Celular:</label>
                    {{form.celular}}
               </div>
            </div>
          <div class="col-md-6 col-md-offset-0">
                <div class="form-group">
                    <label for="username">Teléfono Fijo(opcional):</label>
                    {{form.telefono }}
               </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-md-offset-0">
                <div class="form-group">
                    <label for="foto">Foto de perfil:</label>
                    {{ form.foto}}
               </div>
              </div>
            </div>

      {% if form.legajo %}
            <div class="row">
                <div class="col-md-12 col-md-offset-0">
                    <div class="form-group">
                        <label for="legajo">Legajo:</label>
                        {{ form.legajo}}
                   </div>
                  </div>
                </div>
          {% endif %}
          {% if form.areas %}
            <div class="row">
                <div class="col-md-12 col-md-offset-0">
                    <div class="form-group">
                        <label for="areas">Áreas asignadas:</label>
                        {{ form.areas}}
                   </div>
                  </div>
                </div>
          {% endif %}

      <div class="row">
          <div class="text-right">
            <div class="col-md-12 col-md-offset-0">
                <div class="form-group">
                    <a class="btn btn-danger" href="{{request.META.HTTP_REFERER}}">Cancelar</a>
                    <input class="btn btn-primary" type="submit" value="Guardar">
               </div>
              </div>
            </div>
          </div>

  </form>
</div>
{% endblock %}
