/* Cuerpo de página */
body {
    /* Margen inferior, para dar lugar al pie de página */
    margin-bottom: 100px;
}

/* Pie de página */
.navbar-fixed-bottom {
    /* Altura */
    height: 100px;
}

/* Contenido derecho del pie de página */
#footer-right-content {
    /* Márgenes */
    margin: 15px;
}

/* Imagen en pie de página */
.footer-image img {
    /* Dimensiones */
    width: auto;
    height: 80px;
}

/* Contenido izquierdo del pie de página */
#footer-left-content {
    /* Márgenes */
    margin: 25px;
}

#footer-left-fix-margin{
    position: absolute;
    margin-left: 100px;
    margin-top: 50px;
}

#footer-center-content {
    /* Márgenes */
    margin: 35px;
    /* Alineación horizontal: Derecha */
    text-align: right;
    width: 105%;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.carrusel {
    /* Alineación: Centrado */
    margin: 0 auto;
    display: grid;
    height: 100%;
}

.center-fit {
   max-width: 100%;
   max-height: 85vh;
   margin: auto;
   border-radius: 5px;
  }

.image-container{
    /* Alineación: Centrado */
    margin: 0 auto;
    text-align: center;

}