{% extends 'app_reservas/base.html' %}
{% load navbar_tags %}

{% block static_js %}
{% endblock %}

{% block title %}
Horarios de Comisiones
{% endblock %}

{% block contenido %}
<div class="page-header">
            <h1>Listado de comisiones</h1>
        </div>

<form method="get" action="{% url 'comisiones_listar' %}">
    <div class="col-md-10 col-md-offset-1">

		<div class="col-md-6 col-md-offset-0">Cuatrimestre: {{ comision_form.cuatrimestre }}</div>
		<div class="col-md-6 col-md-offset-0">Especialidad: {{comision_form.especialidad}} </div>

        <div class="col-md-12 col-md-offset-0">
            Buscar: {{ comision_form.buscar }}
        </div>

        <div class="col-md-12 col-md-offset-0">
			<div class="text-right">
				<a class="btn btn-default" href="{% url 'comisiones_horarios_descargar' %}?cuatrimestre={{ comision_form.cuatrimestre.value }}&especialidad={{ comision_form.especialidad.value }}&buscar={{ comision_form.buscar.value }}">Descargar</a>
				<input class="btn btn-primary" type="submit" value="Filtrar"/>
            </div>
        </div>
    </div>
</form>

<table class="table table-bordered">
	<thead>
		<tr>
			<td>Detalle</td>
			<td>Cantidad de inscriptos</td>
			{% for dia in dias_semana %}
				<td>{{dia.dia_nombre}}</td>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for comision in comisiones %}
		<tr>
			<td>{{comision.comision}} - {{comision.materia.nombre}} - {{comision.materia.especialidad.nombre}}</td>
			<td>
				{% if comision.get_cantidad_inscriptos %}
					{{ comision.get_cantidad_inscriptos }}
				{% else %}
				   ---
				{% endif %}
			</td>

			{% for dia in dias_semana %}
				<td>
					{% with horario_filtrado=comision.get_horarios_comision_academico|get_horario:dia.dia %}
						{% if horario_filtrado %}
							{{ horario_filtrado.hora_inicio }} a {{ horario_filtrado.hora_fin }}
						{% endif %}
					{% endwith %}
				</td>
			{% endfor %}


		</tr>
		{% endfor %}
	</tbody>
</table>


<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}&cuatrimestre={{ comision_form.cuatrimestre.value }}&especialidad={{ comision_form.especialidad.value }}">Anterior</a>
		{% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}&cuatrimestre={{ comision_form.cuatrimestre.value }}&especialidad={{ comision_form.especialidad.value }}">Siguiente</a>
    	{% endif %}
    </li>
</ul>

<!--

{% if page_obj.has_other_pages %}
  <ul class="pager">
    {% if page_obj.has_previous %}
      {% if page_obj.has_previous %}
       	 <li><a href="?page={{ page_obj.previous_page_number }}&cuatrimestre={{ comision_form.cuatrimestre.value }}&especialidad={{ comision_form.especialidad.value }}">Anterior</a></li>
		{% endif %}
    {% else %}
      <li class="disabled"><span>Anterior</span></li>
    {% endif %}
    {% for i in page_obj.paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}&cuatrimestre={{ comision_form.cuatrimestre.value }}&especialidad={{ comision_form.especialidad.value }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
	  <li><a href="?page={{ page_obj.next_page_number }}&cuatrimestre={{ comision_form.cuatrimestre.value }}&especialidad={{ comision_form.especialidad.value }}">Siguiente</a></li>
    {% else %}
      <li class="disabled"><span>Siguiente</span></li>
    {% endif %}
  </ul>
{% endif %}

{% if page_obj.has_other_pages %}
  <ul class="pager">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}&cuatrimestre={{ comision_form.cuatrimestre.value }}&especialidad={{ comision_form.especialidad.value }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in page_obj.paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}&cuatrimestre={{ comision_form.cuatrimestre.value }}&especialidad={{ comision_form.especialidad.value }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}&cuatrimestre={{ comision_form.cuatrimestre.value }}&especialidad={{ comision_form.especialidad.value }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

<div align="center">

{% if page_obj.has_other_pages %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}&cuatrimestre={{ comision_form.cuatrimestre.value }}&especialidad={{ comision_form.especialidad.value }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in page_obj.paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}&cuatrimestre={{ comision_form.cuatrimestre.value }}&especialidad={{ comision_form.especialidad.value }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}&cuatrimestre={{ comision_form.cuatrimestre.value }}&especialidad={{ comision_form.especialidad.value }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

</div>





<div align="center">

{% if page_obj.has_other_pages %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}&cuatrimestre={{ comision_form.cuatrimestre.value }}&especialidad={{ comision_form.especialidad.value }}">Anterior</a></li>
    {% else %}
      <li class="disabled"><span>Anterior</span></li>
    {% endif %}
    {% for i in page_obj.paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}&cuatrimestre={{ comision_form.cuatrimestre.value }}&especialidad={{ comision_form.especialidad.value }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}&cuatrimestre={{ comision_form.cuatrimestre.value }}&especialidad={{ comision_form.especialidad.value }}">Siguiente</a></li>
    {% else %}
      <li class="disabled"><span>Siguiente</span></li>
    {% endif %}
  </ul>
{% endif %}

</div>



<div align="center">

{% if page_obj.has_other_pages %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}&cuatrimestre={{ comision_form.cuatrimestre.value }}&especialidad={{ comision_form.especialidad.value }}">Anterior</a></li>
    {% else %}
      <li class="disabled"><span>Anterior</span></li>
    {% endif %}
    {% for i in page.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}&cuatrimestre={{ comision_form.cuatrimestre.value }}&especialidad={{ comision_form.especialidad.value }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}&cuatrimestre={{ comision_form.cuatrimestre.value }}&especialidad={{ comision_form.especialidad.value }}">Siguiente</a></li>
    {% else %}
      <li class="disabled"><span>Siguiente</span></li>
    {% endif %}
  </ul>
{% endif %}

</div>
-->




{% endblock %}
