{% extends 'app_reservas/base_carrusel.html' %}
{% load static %}

{% block head_meta %}
    <!--
    Refresca la página cada 5 minutos. Esto permite la visualizacion de nuevos
    eventos y el cálculo de los tiempos de inicio y fin de los calendarios.
    -->
    <meta http-equiv="refresh" content="300">
{% endblock head_meta %}

{% block header %}
{% endblock header %}
{% block title %}
    Novedades
{% endblock title %}

{% block static_css %}
    {{ block.super }}

    <link rel="stylesheet" href='{% static 'apps/reservas/css/novedades.css' %}'>
{% endblock static_css %}


{% block contenido_total %}
    <div style="background: {{novedad.color_fondo}};">
    {% if novedad.carrusel %}
        <div class="image-container" {%if novedad.ancho_maximo%} style="max-width: {{ novedad.ancho_maximo }}px;" {% endif %}>
            <div class="carrusel">
                {% for imagen in carrusel_imagenes %}
                    <div>
                        <img src="{{ imagen.get_url }}" alt="Imagen {{ forloop.counter }}"
                             class="center-fit">
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        {{  novedad.texto_principal | safe}}
    {% endif %}
    </div>
{% endblock contenido_total %}

{% block footer_center %}
<div id="footer-center-content">
    <h3><marquee behavior="scroll" direction="left">{{novedad.texto_pie_pagina}}</marquee></h3>
    </div>

{% endblock footer_center %}

{% block footer_left %}
    <div id="footer-left-image" class="footer-image">
        <img src='{% static 'apps/reservas/images/qrcode.png'%}'></img>
    </div>
    <div id="footer-left-content">
        <p>
            Visitá nuestro sitio web:
            <br />
            <a href="http://gt.frm.utn.edu.ar/reservas/">http://gt.frm.utn.edu.ar/reservas/</a>
        </p>
    </div>
{% endblock footer_left %}