{% extends 'app_reservas/base.html' %}
{% load navbar_tags %}

{% block static_js %}
{% endblock %}

{% block title %}
Finlizar Prestamo
{% endblock %}

{% block contenido %}
<div class="page-header">
	<h1>Finalizar prestamo #{{prestamo_obj.id}}</h1>
</div>
<form method="post">
	{% csrf_token %}
	<div class="col-md-6 col-md-offset-3">
		<div class="text-center">
			<h4>¿Esta seguro que desea dar marcar este prestamo como devuelto? Esta acción no se podrá deshacer.</h4>
		</div>


		<div class="col-sm-offset-0 col-sm-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">
						Información
					</h3>
				</div>
				<table class="table table-bordered">
					<tr>
                    	<th scope="row">Solicitante</th>
                    	<td class="text-center">{{ prestamo_obj.recursos_all.first.reserva.docente }}</td>
                	</tr>
					<tr>
						<th scope="row">Inicio del Prestamo</th>
						<td class="text-center">{{ prestamo_obj.inicio }}</td>
					</tr>
					 <tr>
						<th scope="row">Prestado por</th>
						<td class="text-center">
							{{ prestamo_obj.asignado_por}}
						</td>
					</tr>
				</table>

			</div>
    	</div>

		<div class="text-center">
			<button class="btn btn-danger" type="submit">Sí, estoy seguro</button>
			<a class= "btn btn-default" href="{% url 'prestamo_detalle' prestamo_obj.id %}">Cancelar</a>
		</div>
	</div>
</form>

{% endblock %}
