{% extends 'app_reservas/base.html' %}
{% load static %}
{% load navbar_tags %}

{% block static_js %}
{% endblock %}

{% block title %}
Listado de Reservas
{% endblock %}

{% block contenido %}
<div class="col-sm-offset-0 col-sm-8">
	<div class="text-center">
	 	<h1>Listado de Reservas</h1>
	</div>
 </div>

 <div class="col-sm-offset-1 col-sm-3">
	 <label for="estado">Estado:</label>
	 <form method="get" action="{% url 'reserva_listar' %}">

		 <div class="col-sm-offset-0 col-sm-9">

			{{ estado_form.estado }}
		 </div>
		 <div class="col-sm-offset-0 col-sm-2">
			<input class="btn btn-primary" type="submit" value="Filtrar"/>
		 </div>
	 </form>
 </div>

<table class="table table-bordered">
	<thead>
		<tr>
			<td>Id</td>
			<td>Recurso</td>
			<td>Usuario</td>
			<td>Fecha de Reserva</td>
			<td>Estado</td>
			<td>Comision</td>
			<td>Acciones</td>
		</tr>

	</thead>
	<tbody>
		{% if object_list %}
		{% for reserva in object_list %}
		<tr>
			<td>{{reserva.id}}</td>
			<td>{{reserva.recurso.id|get_nombre_recurso}}</td>
			<td>{{ reserva.docente.nombre }}</td>
			<td>{{ reserva.fecha_inicio }} {% if reserva.fecha_fin %} a {{reserva.fecha_fin}} {% endif %}</td>
			<td>
				{% for historico in reserva.historicoestadoreserva_set.all %}
				{% if historico.fecha_fin == None  %}

				{% with reserva_estado=estado_reserva|get_item:historico.estado %}
				{% if reserva_estado == "Activa" %}

				<div class="text-center">
                        {% if not estado_reserva.estado_final %}
                             <div class="btn btn-xs btn-success">
                                <span aria-hidden="true">
                                </span>
                                {{ reserva_estado }}
                            </div>
                        {% else %}
                           ---
                        {% endif %}
                    </div>
				{% elif reserva_estado == "Finalizada" %}

				<div class="text-center">
                        {% if not estado_reserva.estado_final %}
                             <div class="btn btn-xs btn-default">
                                <span aria-hidden="true">
                                </span>
                                {{ reserva_estado }}
                            </div>
                        {% else %}
                           ---
                        {% endif %}
                    </div>
				{% else %}
				<div class="text-center">
                        {% if not estado_reserva.estado_final %}
                             <div class="btn btn-xs btn-danger">
                                <span aria-hidden="true">
                                </span>
                                {{ reserva_estado }}
                            </div>
                        {% else %}
                           ---
                        {% endif %}
                    </div>
				{% endif %}
				{% endwith %}
				{% endif %}
				{% endfor %}
			</td>
    		</td>
			<td>
			{% if reserva.comision %}
			<li>Materia: {{ reserva.comision.materia.nombre }}</li>
			<li>Comisión: {{ reserva.comision.comision }}</li>
			<li>Especialidad: {{ reserva.comision.materia.especialidad.nombre }}</li>
			{% else %}
			---
			{% endif %}
			</td>
			<td>
				<a class="btn btn-primary" href="{% url 'reserva_detalle' reserva.id %}">Visualizar</a>
			</td>
		</tr>
		{% endfor %}

		{% else %}
		<h1>No existen reservas para mostrar</h1>
		{% endif %}
	</tbody>
</table>

{% include 'commons/pager.html' %}

{% endblock%}
