{% extends 'app_reservas/base.html' %}
{% load static %}

{% block title %}
    Reserva de material multimedia
{% endblock title %}


{% block static_css %}
    {{ block.super }}


    <link rel="stylesheet" href="{% static "eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" %}" />
{% endblock static_css %}

{% block static_js_body %}

    <script type="text/javascript" src="{% static 'moment/min/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'apps/reservas/js/jquery.formset.js' %}"></script>
{% endblock static_js_body %}


{% block contenido %}

      {% if form.errors %}
         {% for field in form %}
             {% for error in field.errors %}
                 <div class="alert alert-danger">
                     <strong>{{ field|escape }}</strong>
                     {{error}}
                 </div>
             {% endfor %}
         {% endfor %}
         {% for error in form.non_field_errors %}
             <div class="alert alert-danger">
                 <strong>{{ error|escape }}</strong>
             </div>
         {% endfor %}
      {% endif %}


        <form id="solicitud_form" method="post">
            {% csrf_token %}

            <div class="page-header">
                <h1>Formulario de Carga de Reservas</h1>
            </div>

            <div class="col-md-6 col-md-offset-3">
              <p class="text-center">
                  En esta sección podras cargar reservas de material multimedia
              </p>
            </div>

            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <div class="form-group">
                    <label for="tipoSolicitud">Docente:</label>
                    {{ form.docente }}
                 </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-md-offset-3">
                  <div class="form-group">
                      <label for="tipoSolicitud">Tipo de Solicitud:</label>
                      {{ form.tipoSolicitud }}
                   </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-md-offset-3">
                    <div class="form-group">
                        <label for="tipoSolicitud">Comision:</label>
                        {{ form.comision }}
                    </div>
                  </div>
                </div>
                  <div class="row">
                    <div class="col-md-3 col-md-offset-3">
                  		<div class="form-group">
                      		<label for="fechaIncio">Fecha Inicio:</label>
                      		{{ form.fechaInicio }}
                  	   </div>
                      </div>
                      <div class="col-md-3 col-md-offset-0">
                    		<div class="form-group">
                        		<label for="last_name">Fecha Fin:</label>
                        		{{ form.fechaFin }}
                    	   </div>
                        </div>
                    </div>


            <table border="0" cellpadding="0" cellspacing="0">
                <tbody>
                    {% for form in formset.forms %}
                    <tr>
                       <td>
                         {{ form.dia.label_tag }}
                          {{ form.dia }}
                       </td>
                       <td>
                         {{ form.tipoRecurso.label_tag }}
                         {{ form.tipoRecurso }}
                       </td>
                       <td>
                           {{ form.inicio.label_tag }}
                          <div class='input-group date'>
                              {{ form.inicio }}
                          <span class="input-group-addon">
                          <span class="glyphicon glyphicon-time"></span>
                          </span>
                          </div>
                       </td>
                       <td>
                           {{ form.fin.label_tag }}
                           <div class='input-group date'>
                              {{ form.fin }}
                          <span class="input-group-addon">
                          <span class="glyphicon glyphicon-time"></span>
                          </span>
                          </div>
                       </td>
                       <td>
                         {{ form.cantidad_alumnos.label_tag }}
                         {{ form.cantidad_alumnos }}
                       </td>
                       <td>
                         {{ form.recurso.label_tag }}
                         {{ form.recurso }}
                       </td>
                       <td></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {{ formset.management_form }}
            <div style="width:100px; float:right">
                    <input class="btn btn-primary" type="submit" value="Solicitar" />
                </div>
        </form>

{% endblock contenido %}

{% block scripts %}

<script type="text/javascript">
    $(function() {
      $('#solicitud_form tbody tr').formset({
          prefix: '{{ formset.prefix }}'
      });
      $('[id$=-inicio]').datetimepicker({
          format: 'HH:mm',
          minDate: moment({h:8}),
      });
      $('[id$=-fin]').datetimepicker({
          format: 'HH:mm',
          minDate: moment({h:8}),
      });

      $('#id_fechaInicio').datetimepicker({
          format: 'DD/MM/YYYY',
          minDate: moment(),
          maxDate: moment().endOf('year'),
      });
      $('#id_fechaFin').datetimepicker({
          format: 'DD/MM/YYYY',
          minDate: moment(),
          maxDate: moment().endOf('year'),
      });
    });
</script>


<script>
    // Función que detecta el cambio en el select de docente

    $("#docente_select").change(function() {
      $('#tipo_select').attr("disabled", false);
      $('#tipo_select').val("");
      $('#mat_select').attr("disabled", true);
      $('#mat_select').html('<option value="" selected="selected">---------</option>');

    });

    $('#tipo_select').change(function(){
      // Script que detecta cambios en el select de tipo_select y rellena las opciones de comisiones
      $select = $('#mat_select');
      $('#mat_select').attr("disabled", false);
      $('#com_select').html('<option value="" selected="selected">---------</option>');
      $select = $('#mat_select');
      $('#mat_select').attr("disabled", true);
      $('#id_fechaInicio').attr("disabled", true);
      $('#id_fechaFin').attr("disabled", true);
      if ($(this).val()== 1) {
          $('#mat_select').attr("disabled", false);
         }
       else if ($(this).val()== 2) {
         $('#mat_select').attr("disabled", false);
         $('#id_fechaInicio').attr("disabled", false);
       }
       else if ($(this).val()== 3) {
         $('#id_fechaInicio').attr("disabled", false);
         $('#id_fechaFin').attr("disabled", false);
       }
        else {
          $('#id_fechaInicio').attr("disabled", false);
        };
      if ($(this).val()== 1 || $(this).val()== 2) {
        $.ajax({
            url: "http://localhost:8080/reservas/api/materia/" + $("#docente_select").val(),
            dataType:'JSON',
            success:function(data){
                // Vacio las opciones de local en caso que se haya seleccionado
                $select.html('<option value="" selected="selected">---------</option>');
                $.each(data, function(key, val){
                    $select.append('<option value="' + val.id_materia + '">' + val.nombre + '</option>');

                })
            }
        }) }
        else {
          $('#mat_select').attr("disabled", true);
        };

      $.ajax({
          url: "http://localhost:8080/reservas/api/materia/" + $("#docente_select").val(),
          dataType:'JSON',
          success:function(data){
              // Vacio las opciones de local en caso que se haya seleccionado
              $select.html('<option value="" selected="selected">---------</option>');
              $.each(data, function(key, val){
                  $select.append('<option value="' + val.id_comision + '">' + val.nombre_comision + " - " + val.nombre_materia + " - " + val.nombre_plan + '</option>');

              })
          }
      });
    });


    $('#mat_select').change(function(){
      // Script que detecta cambios en el select de tipo_select y rellena las opciones de comisiones
      $select = $('#com_select');
      $.ajax({
          url: "http://localhost:8080/reservas/api/horarios/" + $('#mat_select').val(),
          dataType:'JSON',
          success:function(data){
              // Vacio las opciones de local en caso que se haya seleccionado
              $.each(data, function(key, val){

                $('[id$=id_horariosolicitud_set-' + key  + '-dia]').val(val.dia_numero);
                $('[id$=id_horariosolicitud_set-' + key  + '-inicio]').val(val.hora_inicio);
                $('[id$=id_horariosolicitud_set-' + key  + '-fin]').val(val.hora_fin);
                $('[id$=id_horariosolicitud_set-' + key  + '-cantidad_alumnos]').val(val.cantidad_alumnos);

              })
              $('#com_select').attr("disabled", false);
          }
      });
    });

    $('[id$=-tipoRecurso]').change(function () {
      console.log(event.target.name.slice(-13, -12));
      if (event.target.value == 3) {
        $('[id$=set-' + event.target.name.slice(-13, -12) + '-tipoLaboratorio]').attr("disabled", false);
        $('[id$=set-' + event.target.name.slice(-13, -12) + '-tipoRecursoAli]').attr("disabled", true);
      } else if (event.target.value == 4) {
          $('[id$=set-' + event.target.name.slice(-13, -12) + '-tipoRecursoAli]').attr("disabled", false);
          $('[id$=set-' + event.target.name.slice(-13, -12) + '-tipoLaboratorio]').attr("disabled", true);
      } else {
        $('[id$=id_' + event.target.name.slice(0, -12) + '_cantidadAlumnos]').attr("disabled", false);
      }
    });

</script>


{% endblock %}
