{% load templatehelpers %}
{% if is_paginated %}
<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
     	 <a href="{% relative_url page_obj.previous_page_number 'page' request.GET.urlencode %}">Anterior</a>
    	{% endif %}
    </li>
	<li> Página {{page_obj.number}} de {{page_obj.paginator.num_pages}}</li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="{% relative_url page_obj.next_page_number 'page' request.GET.urlencode %}">Siguiente</a>
    	{% endif %}
    </li>
</ul>

{% endif %}