{% load templatehelpers %}
{% if is_paginated %}
<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
     	 <a href="{% relative_url page_obj.previous_page_number 'page' request.GET.urlencode %}">Anterior</a>
    	{% endif %}
    </li>
	<li> Página {{page_obj.number}} de {{page_obj.paginator.num_pages}}</li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="{% relative_url page_obj.next_page_number 'page' request.GET.urlencode %}">Siguiente</a>
    	{% endif %}
    </li>
</ul>

{% endif %}
<!--

<ul class="pagination">
  {% for i in page_obj.paginator.page_range %}
    <li>
      <a href="?page={{ i }}&order={{ order }}">{{ i }}</a>
    </li>
  {% endfor %}
</ul>

<ul class="pagination">
  {% for i in page_obj.paginator.page_range %}
    <li>
      <a href="{% relative_url i 'page' request.GET.urlencode %}">{{ i }}</a>
    </li>
  {% endfor %}
</ul>



{% if page_obj.has_other_pages %}
  <ul class="pager">
    {% if page_obj.has_previous %}
      {% if page_obj.has_previous %}
       	 <li><a href="?page={{ page_obj.previous_page_number }}&semestre={{ comision_form.semestre.value }}&especialidad={{ comision_form.especialidad.value }}">Anterior</a></li>
		{% endif %}
    {% else %}
      <li class="disabled"><span>Anterior</span></li>
    {% endif %}
    {% for i in page_obj.paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}&semestre={{ comision_form.semestre.value }}&especialidad={{ comision_form.especialidad.value }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
	  <li><a href="?page={{ page_obj.next_page_number }}&semestre={{ comision_form.semestre.value }}&especialidad={{ comision_form.especialidad.value }}">Siguiente</a></li>
    {% else %}
      <li class="disabled"><span>Siguiente</span></li>
    {% endif %}
  </ul>
{% endif %}

{% if page_obj.has_other_pages %}
  <ul class="pager">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}&semestre={{ comision_form.semestre.value }}&especialidad={{ comision_form.especialidad.value }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in page_obj.paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}&semestre={{ comision_form.semestre.value }}&especialidad={{ comision_form.especialidad.value }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}&semestre={{ comision_form.semestre.value }}&especialidad={{ comision_form.especialidad.value }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

<div align="center">

{% if page_obj.has_other_pages %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}&semestre={{ comision_form.semestre.value }}&especialidad={{ comision_form.especialidad.value }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in page_obj.paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}&semestre={{ comision_form.semestre.value }}&especialidad={{ comision_form.especialidad.value }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}&semestre={{ comision_form.semestre.value }}&especialidad={{ comision_form.especialidad.value }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

</div>





<div align="center">

{% if page_obj.has_other_pages %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}&semestre={{ comision_form.semestre.value }}&especialidad={{ comision_form.especialidad.value }}">Anterior</a></li>
    {% else %}
      <li class="disabled"><span>Anterior</span></li>
    {% endif %}
    {% for i in page_obj.paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}&semestre={{ comision_form.semestre.value }}&especialidad={{ comision_form.especialidad.value }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}&semestre={{ comision_form.semestre.value }}&especialidad={{ comision_form.especialidad.value }}">Siguiente</a></li>
    {% else %}
      <li class="disabled"><span>Siguiente</span></li>
    {% endif %}
  </ul>
{% endif %}

</div>



<div align="center">

{% if page_obj.has_other_pages %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}&semestre={{ comision_form.semestre.value }}&especialidad={{ comision_form.especialidad.value }}">Anterior</a></li>
    {% else %}
      <li class="disabled"><span>Anterior</span></li>
    {% endif %}
    {% for i in page.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}&semestre={{ comision_form.semestre.value }}&especialidad={{ comision_form.especialidad.value }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}&semestre={{ comision_form.semestre.value }}&especialidad={{ comision_form.especialidad.value }}">Siguiente</a></li>
    {% else %}
      <li class="disabled"><span>Siguiente</span></li>
    {% endif %}
  </ul>
{% endif %}

</div>
-->